In [6]:
import pandas as pd 
import numpy as np 
data = pd.DataFrame({
    'Age': [25, 45, np.nan, 50, 23, 40],
    'Revenu' :[3000, 8000, 5000, np.nan, 2500, 7000],
    'Freaquence_achat': [1,5,3,6,1,4],
    'Ville': ['Rabat', 'Casablanca', 'Rabat', 'Fes', 'Fes', 'Casablanca'],
    'Client premium': [0,1,0,1,0,1]    
})
print(data)

    Age  Revenu  Freaquence_achat       Ville  Client premium
0  25.0  3000.0                 1       Rabat               0
1  45.0  8000.0                 5  Casablanca               1
2   NaN  5000.0                 3       Rabat               0
3  50.0     NaN                 6         Fes               1
4  23.0  2500.0                 1         Fes               0
5  40.0  7000.0                 4  Casablanca               1

In [7]:
data["Age"] = data["Age"].fillna(data["Age"].mean())
data["Revenu"] = data["Revenu"].fillna(data["Revenu"].mean())
print(data)

    Age  Revenu  Freaquence_achat       Ville  Client premium
0  25.0  3000.0                 1       Rabat               0
1  45.0  8000.0                 5  Casablanca               1
2  36.6  5000.0                 3       Rabat               0
3  50.0  5100.0                 6         Fes               1
4  23.0  2500.0                 1         Fes               0
5  40.0  7000.0                 4  Casablanca               1

In [8]:
# data_encode = pd.get_dummies(data, columns=['Ville'])
data_encode = pd.get_dummies(data, columns=['Ville'], dtype=int)
print(data_encode)

    Age  Revenu  Freaquence_achat  Client premium  Ville_Casablanca  \
0  25.0  3000.0                 1               0                 0
1  45.0  8000.0                 5               1                 1
2  36.6  5000.0                 3               0                 0
3  50.0  5100.0                 6               1                 0
4  23.0  2500.0                 1               0                 0
5  40.0  7000.0                 4               1                 1

   Ville_Fes  Ville_Rabat
0          0            1
1          0            0
2          0            1
3          1            0
4          1            0
5          0            0

In [ ]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Séparation des variables
X = data_encode.drop(columns=['Client premium'])
y = data_encode['Client premium']

# Colonnes numériques à normaliser
num_cols = ['Age', 'Revenu', 'Freaquence_achat']

# Initialisation du scaler
scaler = StandardScaler()

# Application du scaler uniquement sur les colonnes numériques
X[num_cols] = scaler.fit_transform(X[num_cols])

# Affichage du résultat final
print(X)

        Age    Revenu  Freaquence_achat  Ville_Casablanca  Ville_Fes  \
0 -1.178612 -1.067950         -1.237437                 0          0
1  0.853478  1.474788          0.883883                 1          0
2  0.000000 -0.050855         -0.176777                 0          0
3  1.361500  0.000000          1.414214                 0          1
4 -1.381821 -1.322224         -1.237437                 0          1
5  0.345455  0.966240          0.353553                 1          0

   Ville_Rabat
0            1
1            0
2            1
3            0
4            0
5            0